// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-blog-link {
  display: block;
}

.blog-details {
  text-align: center;
  width: 30%;
  display: inline-block;
}